/*___________________________________*/
/* Generales   						 */

.siom-section-header{
	margin-bottom: 8px;
}
.siom-section-header h5{
    color: rgb(0, 97, 117);
    font-weight: bold;
    padding-top: 10px;
}
.siom-section-header .btn-sm{
	margin-top: 5px;
}

.siom-section-header-message{
	color: rgb(0, 97, 117);
	font-size: 12px;
	padding-top: 10px;
}

.siom-section-subtitle{
	color: rgb(0, 97, 117);
	font-size: 14px;
}

.siom-section-subtitle:not(:first-child) { 
	margin-top: 25px;
}

.siom-chart{
	width: 100%;
	height: 250px;
	font-size: 10px;
	color: #666;
	padding: 5px;
	margin-bottom: 20px;
}

.siom-chart-title{
	color: #666;
	font-size: 12px;
	text-align: center;
}



/*___________________________________*/
/*modals 							 */
.siom-modal-alert .modal-header{
    padding: 5px;
    background-color: #006175;
    color: #CCC;
}
.siom-modal-alert .modal-footer{
    padding: 5px;
}
.siom-modal-confirm .modal-header{
    padding: 5px;
    background-color: #006175;
    color: #CCC;
}
.siom-modal-confirm .modal-footer{
    padding: 5px;
	
}

.siom-modal-success .modal-header{
    padding: 5px;
    background-color: #3AA143;
    color: #FFF;
}

.siom-modal-success .modal-header h4 {
    font-size: 14px;
}
.siom-modal-success .modal-footer{
    padding: 5px;
}

.siom-modal-error .modal-header{
    padding: 5px;
    background-color: #C52727;
    color: #FFF;
}
.siom-modal-error .modal-footer{
    padding: 5px;
	
}


/*___________________________________*/
/*form-tiny   						 */
.siom-form-tiny .form-group{
	margin-bottom: 1px;
}
.siom-form-tiny .form-control{
	height: 22px;
	padding: 2px 10px;
	font-size: 10px;
	color: #000;
}
.siom-form-tiny textarea.form-control{
	height: 40px;
}
.siom-form-tiny .control-label{
    font-size: 11px;

    margin-bottom: 10px;
}
.siom-form-tiny .input-group-addon{
    width: 30px;
    height: 20px;
    padding: 0px;
}
.siom-form-tiny .input-group-addon i{
    font-size: 12px;
    margin-top: 2px;
}
.siom-form-tiny .btn-group{
	height: 25px;
}
.siom-form-tiny .btn{
	height: 25px;
	padding: 2px 12px;
}
.siom-form-tiny select.selectpicker{
	height: 20px;
	padding: 2px 6px;
	font-size: 12px;
}
.siom-form-tiny .selectpicker .filter-option{
	font-size: 12px;
	margin-top: 3px;
}

.siom-form-tiny .selectpicker a span.text{
	font-size: 10px;
}
.siom-form-tiny fieldset{
	padding: 5px;
	border: 1px solid silver;
	border-radius: 5px;
}
.siom-form-tiny legend{
	width:inherit; 
    font-size: 14px;
    color:silver;
    border-bottom:none;
    margin-bottom: 0px;
    margin-left:5px;
}
.siom-form-tiny hr{
	margin-top: 4px;
	margin-bottom: 8px;
}
.siom-form-tiny .checkbox{
	padding-top: 0px;
}
.siom-form-tiny .checkbox label{
	font-size: 12px;
	line-height: 20px;
}
.siom-form-tiny .siom-form-subtitle{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-top: 1px solid #BBB;
    margin-top: 20px;
    color: #666;
}

.siom-form-tiny .siom-form-label{
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
.siom-form-tiny .siom-form-control{
    padding-top: 5px;	
}
.siom-form-tiny .siom-form-aggregator{
	padding: 5px;
}
.siom-form-tiny .siom-form-aggregated{
	background-color: #EEE;
}
.siom-form-tiny .siom-aggregator-list{
	padding:10px;
}
.siom-form-tiny .siom-aggregator-list li{
	margin-top: 5px;
}
.siom-form-tiny .siom-aggregator-list:empty{
    display:none;
}


/*___________________________________*/
/*paginacion   						 */
.siom-paginacion{
	padding-top:5px;
	padding-bottom: 1px;
}
.siom-paginacion .pagination{
	margin:0px;
	/* padding: 0px; */
}
.siom-paginacion .pagination-info{
	font-size: 10px;
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
}

.siom-paginacion .pagination-buttons{
	display: inline-block;
}

.siom-paginacion .pagination-sm>li>a, .pagination-sm>li>span{
	padding: 3px 8px;
	font-size: 10px;
}

/*___________________________________*/
/*lista      						 */
.siom-os-lista{
	/* display:block; */
	height: 100%;
	padding: 5px;
	/*overflow-y: auto;*/
	overflow-y: hidden; 
}
.siom-os-lista .btn{
    margin-top: 2px;
}
.siom-os-lista .dropdown-toggle{
	margin-left: 5px;
}
.siom-os-lista .dropdown-menu{
	margin-left: -60px;	
}
.siom-os-lista .os{
    min-height: 45px;
}
.siom-os-lista .os:hover{
	background-color: #F3F3F3;
}
.siom-os-lista .os .estado{
    float: left;
    width: 90px;
}
.siom-os-lista .os .estado .id{
	font-size: 12px;
	display: block;
}
.siom-os-lista .os .estado .status{
	font-size: 9px;
	white-space: normal;
	display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.5em;
}
.siom-os-lista .os .info{
    width: auto;
    margin-left: 90px;
    margin-right: 20%;
}
.siom-os-lista .os .acciones{
    float: right;
    width: 50%;
}
.siom-os-lista .os .info_os{
    font-size: 12px;
}
.siom-os-lista .os .info_adicional{
    font-size: 9px;
    color: gray;
}
.siom-os-lista .os .acciones .dropdown{
    margin-top: -9px;
}
.siom-os-lista .os .acciones .detalle{
    font-size: 9px;
    margin-top: -5px;
    color: gray; text-decoration: underline;
}
.siom-os-lista .os .acciones .mas_opciones{
    font-size: 9px; 
    margin-top: -5px;
    text-decoration: underline;
    color: gray;
}
.siom-os-lista .os .acciones .fecha{
    font-size: 10px;
    margin-top: 3px;
    font-style: italic;
    font-weight: 600;
    color: #333;
}

.siom-os-lista .os .acciones .solicitando{
	color:#009900;
}

.siom-os-lista .os .sin-tarea{
	color:#009900;
	font-size: 10px;
	margin-top: 5px;
}
.siom-os-lista .os .esperando-tarea{
	color: #009900;
	font-size: 10px;
	font-weight: bold;
	margin-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.siom-os-lista h4{
	margin-top: 5px;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: bold;
}
.siom-os-lista hr{
	margin-top: 5px;
	margin-bottom: 5px;
	border-color: #CCC;
}
.siom-os-lista .os-crear{
    min-height: 30px;
}
.siom-os-lista .os-crear:hover{
	background-color: #F3F3F3;
}
.siom-os-lista .os-crear .estado{
    float: left;
    width: 25px;
}
.siom-os-lista .os-crear .estado .status{
	font-size: 15px;
	color: green;
}
.siom-os-lista .os-crear .estado .status-success{
	color: green;
}
.siom-os-lista .os-crear .estado .status-warning{
	color: yellow;
}
.siom-os-lista .os-crear .estado .status-danger{
	color: red;
}
.siom-os-lista .os-crear .info{
    width: auto;
    margin-left: 30px;
    margin-right: 150px;
}
.siom-os-lista .os-crear .info .info_adicional{
    font-size: 9px;

    color: gray;
}
.siom-os-lista .os-crear .acciones{
    float: right;
    width: 145px;
}




/*___________________________________*/
/*fieldset     						 */
.siom-fieldset{
    margin-top: 10px;
    border: 1px solid #EFEFEF;
    padding: 5px;
    border-radius: 5px;
}
.siom-fieldset legend{
    font-size: 12px;	
    border: none;
    width: auto;
    margin-left: 10px;
    font-weight: bold;
    color: #006175;
    margin-bottom: 5px;
}
.siom-fieldset table:first-child{
	margin-top: 12px;
}

.siom-fieldset tr{
	margin-bottom: 8px;
}

.siom-fieldset .siom-subtitle-details{
	font-size: 8px;
	font-weight: bold;
	color: #999;
}

.siom-fieldset .siom-label{
    font-weight: lighter;
    font-size: 7px;
    text-align: left;
    color:#888;
    height: 8px;
}
.siom-fieldset .siom-value{
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 5px;
}

.siom-fieldset .siom-value .selectpicker{
	margin-top: 3px;
}
.siom-fieldset .siom-value input{
	margin-top: 3px;
}

.siom-fieldset .siom-link{
	font-weight: lighter; 
	font-size: 12px;
	margin-top: 2px;
	text-align: center;
}
.siom-fieldset .siom-docu-file{
	display: inline-block;
	width: 45%;
    margin: 0;
    
    vertical-align: top;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	border-radius: 5px;
}

.siom-fieldset .siom-docu-link{
    margin-top: 4px;

}
.siom-fieldset .siom-docu-link a{
    font-size: 13px;

    font-weight: 600;
}
.siom-fieldset .siom-docu-link small{
    font-size: 10px;
    color: #888888;
}
.siom-fieldset .siom-no-data{
    font-size: 12px;
    padding-left: 10px;
    color:gray;
}
.siom-fieldset .siom-info{
	font-size: 9px;
}
.siom-fieldset .siom-subtitle{
	font-size: 12px;
	font-weight: lighter;
	border-top: 1px solid #EFEFEF;
	margin-left: 20px;
	margin-right: 20px;
	color: #999;
}

.siom-fieldset .siom-file-list{
	margin-top: 5px;
}
.siom-fieldset .siom-file-list>li{
    padding: 5px;
}
.siom-fieldset .siom-file-list>li>div{
	margin-right: 20px;
}
.siom-fieldset .siom-file-list>li>a{
    float: right;
    padding: 2px 4px;
    border: none;
}
.siom-fieldset .siom-file-list .form-control{
	height:20px;
}
.siom-fieldset .siom-file-list small{
	font-size:10px;
	color: #666;
}

.siom-fieldset th{
	font-size:10px;
	font-weight: bold;
}
.siom-fieldset td{
	font-size:10px;
}

.siom-fieldset .siom-docu-nombre{
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 10px;
}
.siom-fieldset .siom-docu-nombre a{
	
}
.siom-fieldset .siom-docu-descripcion{
    margin-left: 10px;
    font-size: 11px;
}
.siom-fieldset .siom-docu-info{
    font-size: 10px;
    margin-left: 10px;
    color: #999;
}
.siom-fieldset  .siom-docu-acciones{
	margin-right: 5px;
}

.siom-form tr{
}
.siom-form .siom-form-name{
    font-size: 12px;
    font-weight: bold;
    color: #006175;
    border-top: 1px solid #DDD;
}
.siom-form .siom-group{
    font-size: 11px;

    font-weight: 600;
    padding-top: 15px;
    color: #006175;
    padding-bottom: 5px;
}
.siom-form .siom-label{
    font-weight: lighter;
    font-size: 10px;
    text-align: left;
    color:#888;
    width: 45%;
    border-bottom: 1px dotted #EEE;
}
.siom-form  .siom-value{
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 5px;
    width: 55%;
}
.siom-form  .siom-image{
    font-size: 10px;
    padding-top: 6px;
}
.siom-form  .siom-image img{
    width: 100%;

}
.siom-form  .siom-aggregator{
    padding-left: 10px;
}
.siom-form  .siom-aggregator table{
    margin-bottom: 15px;
    border: 1px solid #EEE;
}
.siom-form  .siom-aggregator table td{
    padding:3px;
}

/*___________________________________*/
/*Preview archivos        	 */
.siom-os-crear-preview-list {
  margin-top: 5px;
  border-radius:none;
  border:none;
}
.siom-os-crear-preview-list .file-preview-frame{
	display: block;
	margin: 0px;
	height: auto;
	box-shadow: none;
	float: none;
	padding: 3px 3px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.siom-os-crear-preview-list .file-preview-thumbnails textarea{
	height: 36px;
	padding: 2px;
	font-size: 12px;
}

.siom-os-visita-preview-list {
  margin-top: 5px;
  border-radius:none;
  border:none;
}
.siom-os-visita-preview-list .file-preview-frame{
	display: block;
	margin: 0px;
	height: auto;
	box-shadow: none;
	float: none;
	padding: 5px 5px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.siom-os-visita-preview-list .file-preview-thumbnails textarea.form-control{
	height: 50px;
	padding: 3px;
	font-size: 12px;
}
.siom-os-visita-preview-list .selectpicker .filter-option{
	font-size: 12px;
	padding-top: 3px;
	padding-left: 0px;
}
.siom-os-visita-preview-list .kv-file-remove{
    margin-right: -20px;
    color: #666;
    cursor: pointer;
}
.siom-os-visita-preview-list .error{
	border: 1px solid #d00;
}

.siom-os-informe-preview-list {
  margin-top: 5px;
  border-radius:none;
  border:none;
}
.siom-os-informe-preview-list .file-preview-frame{
	display: block;
	margin: 0px;
	height: auto;
	box-shadow: none;
	float: none;
	padding: 5px 5px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.siom-os-informe-preview-list .file-preview-thumbnails textarea{
	height: 20px;
	padding: 3px;
	font-size: 12px;
}
.siom-os-informe-preview-list .kv-file-remove{
    font-size: 12px;
    color: #666;
    cursor: pointer;
}


/*_______________________________
 Presupuestos */

.siom-os-presupuesto-lista{	
    border: 1px solid #CCC; 
    border-radius: 3px;
}
.siom-os-presupuesto-lista .siom-os-presupuesto{
    padding: 1px;

    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
}
.siom-os-presupuesto-lista .siom-os-presupuesto .grupo{
	font-size: 8px;
	margin-bottom: 3px;
	color: #666;
}
.siom-os-presupuesto-lista .siom-os-presupuesto .nombre{
	font-size: 9px;
	font-weight: bold;
	margin-bottom: 0px;
}
.siom-os-presupuesto-lista .siom-os-presupuesto .subgrupo{
	font-size: 7px;
	color:#999;
	display: block;
	margin-top: 2px;
	font-style: italic;
}
.siom-os-presupuesto-lista .siom-os-presupuesto .unidad{
	font-size: 8px;
	color:#666;
	display: block;
	margin-top: -1px;
}
.siom-os-presupuesto-lista .siom-os-presupuesto .precios{
    text-align: right;

}
.siom-os-presupuesto-lista .siom-os-presupuesto button.precio{
	margin-bottom:3px;
	font-size: 9px;
	padding: 2px;
}


.siom-os-presupuesto-header{
	font-size: 10px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}
.siom-os-presupuesto-header .item,.siom-os-presupuesto-item .item{
	width: 25px;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
}
.siom-os-presupuesto-header .actividad,.siom-os-presupuesto-item .actividad{
    padding-top: 5px;
}
.siom-os-presupuesto-header .categoria,.siom-os-presupuesto-item .categoria{
	width: 70px;
	text-align: center;
	vertical-align: middle;
}
.siom-os-presupuesto-header .precio,.siom-os-presupuesto-item .precio{
	width: 60px;
	text-align: center;
	vertical-align: middle;
}
.siom-os-presupuesto-header .cantidad,.siom-os-presupuesto-item .cantidad{
	width: 45px;
	text-align: center;
	vertical-align: middle;
}
.siom-os-presupuesto-header .subtotal,.siom-os-presupuesto-item .subtotal{
	width: 60px;
	text-align: center;
	vertical-align: middle;
}
.siom-os-presupuesto-header .eliminar,.siom-os-presupuesto-item .eliminar{
	width: 15px;
	vertical-align: middle;
	padding-top: 2px;
}
.siom-os-presupuesto-lista-items{
	font-size: 10px;
	font-weight: bold;
	border: 1px solid #CCC; 
    border-radius: 3px;
}
.siom-os-presupuesto-lista-items table:first-child{
	margin-top: 0px;
}
.siom-os-presupuesto-item{
	border-bottom: 1px solid #EEE;
	margin-top: 5px;
}
.siom-os-presupuesto-item .item{
    vertical-align: top;
	
}
.siom-os-presupuesto-item .nombre{
	font-size: 9px;
	font-weight: bold;
	margin-bottom: 0px;
}
.siom-os-presupuesto-item .comentario{
	font-size: 7px;
	color:#999;
}
.siom-os-presupuesto-item .categoria{
	font-size: 9px;
	padding-top: 5px;
	vertical-align: top;
}
.siom-os-presupuesto-item .precio{
	font-size: 9px;
	padding-top: 5px;
	vertical-align: top;
}
.siom-os-presupuesto-item .cantidad{
	vertical-align: top;
}
.siom-os-presupuesto-item .cantidad input{
	font-size: 9px;
}
.siom-os-presupuesto-item .subtotal{
	font-size: 9px;
	padding-top: 5px;
	vertical-align: top;
}
.siom-os-presupuesto-item .eliminar{
	vertical-align: top;
}
.siom-os-presupuesto-item i.eliminar{
	cursor: pointer;
}

.siom-os-presupuesto-footer{

}
.siom-os-presupuesto-footer table:first-child{
	margin-top: 3px;
}
.siom-os-presupuesto-footer .items{
	
}
.siom-os-presupuesto-footer .total{
    font-size: 10px;
    font-weight: bold;
	
}

/*_______________________________
 Presupuestos */
.siom-os-presupuesto-lista-validar{	
    border-bottom: 1px solid #CCC;      
    padding: 4px;
}
.siom-os-presupuesto-lista-validar .nombre{
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 0px;
}
.siom-os-presupuesto-lista-validar .comentario{
	font-size: 9px;
	color: #666;
	display: block;
	margin-top: 2px;
	font-style: italic;
	margin-bottom: 0px;
}
.siom-os-presupuesto-lista-validar .categoria{
    font-size: 10px;
    font-weight: bold;     
    padding-top: 5px;
}
.siom-os-presupuesto-lista-validar .precio{
    font-size: 10px;
    font-weight: bold;
    padding-top: 5px;
}
.siom-os-presupuesto-lista-validar .cantidad{
    font-size: 10px;
    font-weight: bold;
    padding-top: 5px;
}
.siom-os-presupuesto-lista-validar .subtotal{
    font-size: 10px; font-weight: bold;

    padding-top: 5px;
}
.siom-os-presupuesto-lista-validar .validacion{
}

.siom-os-presupuesto-lista-validar .validacion .check{
    float: left;
    width: 20px;
    margin-top: 5px;
}
.siom-os-presupuesto-lista-validar .validacion .observacion{
	font-size: 10px;
    margin-left: 25px;
}
.siom-os-presupuesto-lista-validar .validacion .observacion textarea{
	font-size: 11px;
}

.siom-os-presupuesto-lista-validar .validacion .observacion textarea.error{
	border:1px solid #990000;
}

.siom-os-presupuesto-estado-validacion{
	font-size: 11px;
	margin-top: 3px;
}
.siom-os-presupuesto-total-validacion{
	font-size: 11px;
	margin-top: 3px;
	font-weight: bold;
}



.siom-mnt-lista{
	height: 10%;
	padding: 5px;
	overflow-y: hidden;
}
.siom-mnt-lista .btn{
    margin-top: 2px;
}
.siom-mnt-lista .dropdown-toggle{
	margin-left: 5px;
}
.siom-mnt-lista .dropdown-menu{
	margin-left: -60px;
}
.siom-mnt-lista .mnt{
    min-height: 45px;
}
.siom-mnt-lista .mnt:hover{
	background-color: #F3F3F3;
}
.siom-mnt-lista .mnt .estado{
    float: left;
    width: 90px;
}
.siom-mnt-lista .mnt .estado .id{
	font-size: 12px;
	display: block;
}
.siom-mnt-lista .mnt .estado .status{
	font-size: 9px;
	white-space: normal;
	display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.5em;
}
.siom-mnt-lista .mnt .info{
    width: auto;
    margin-left: 90px;
    margin-right: 20%;
}
.siom-mnt-lista .mnt .acciones{
    float: right;
    width: 50%;
}
.siom-mnt-lista .mnt .info_mnt{
    font-size: 12px;
}
.siom-mnt-lista .mnt .info_adicional{
    font-size: 10px;
    color: gray;
}
.siom-mnt-lista .mnt .acciones .dropdown{
    margin-top: -7px;
}
.siom-mnt-lista .mnt .acciones .detalle{
    font-size: 9px;
    margin-top: -5px;
    color: gray; text-decoration: underline;
}
.siom-mnt-lista .mnt .acciones .mas_opciones{
    font-size: 9px;
    margin-top: -5px;
    text-decoration: underline;
    color: gray;
}
.siom-mnt-lista .mnt .acciones .fecha{
    font-size: 10px;
    margin-top: 3px;
    font-style: italic;
}

.siom-mnt-lista .mnt .acciones .solicitando{
	color:#009900;
}

.siom-mnt-lista .mnt .sin-tarea{
	color:#009900;
	font-size: 10px;
	margin-top: 5px;
}
.siom-mnt-lista .mnt .esperando-tarea{
	color: #009900;
	font-size: 10px;
	font-weight: bold;
	margin-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.siom-mnt-lista h4{
	margin-top: 5px;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: bold;
}
.siom-mnt-lista hr{
	margin-top: 5px;
	margin-bottom: 5px;
}
.siom-mnt-lista .mnt-crear{
    min-height: 30px;
}
.siom-mnt-lista .mnt-crear:hover{
	background-color: #F3F3F3;
}
.siom-mnt-lista .mnt-crear .estado{
    float: left;
    width: 25px;
}
.siom-mnt-lista .mnt-crear .estado .status{
	font-size: 15px;
	color: green;
}
.siom-mnt-lista .mnt-crear .info{
    width: auto;
    margin-left: 30px;
    margin-right: 150px;
}
.siom-mnt-lista .mnt-crear .info .info_adicional{
    font-size: 9px;

    color: gray;
}
.siom-mnt-lista .mnt-crear .acciones{
    float: right;
    width: 145px;
}

/*_______________________________
 Detalle */
.siom-detalle-mapa{
	height: 240px;
}


/*_______________________________
 Asignacion */
.siom-asignacion-list{
	height: 300px;
    overflow-y:auto;    
	margin-top: 5px;
	background-color: #FEFEFE;
	border: 1px solid #CCC;
	border-radius: 5px;
}

.siom-asignacion-list li{
    padding: 4px;
    font-size: 12px;
}
.siom-asignacion-list i{
    padding: 2px;	
    font-size: 12px;
    cursor: pointer;
}
.siom-asignacion-list .disabled i{
    cursor: not-allowed;
}

/*_______________________________
 Visita */
.siom-visita-pane{
	min-height: 300px;
	margin-top: 30px;
}
.siom-visita-pane textarea.form-control{
	height: 80px;
}

/*_______________________________
 Informe */
.siom-informe-form{
	min-height: 200px;
}

.siom-informe-mapa{
	height: 180px;
}

.siom-informe-imagen{
	/* width:100%; */
}
.siom-informe-imagen img{
	width:100%;
	height:auto;
}
.siom-informe-imagen label{
    font-size: 11px;

}


/*_______________________________
Tareas */
.siom-tareas-cantidad{
    padding-top: 4px;

}
.siom-tareas-lista{
	width: 300px;
	min-height: 45px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
.siom-tareas-lista li{
	border-bottom: 1px solid #CCC;
	background-color: #F3f3f3;
	padding-bottom: 5px;
}

.siom-tareas-lista li:not(:first-child){
	padding-top: 5px;
}

.siom-tareas-lista .tarea{
    margin-left: 10px;
    margin-bottom: 0px;
}
.siom-tareas-lista .sin-tarea{
	font-size: 12px;
	color: #006175;
	padding: 10px;
}

.siom-tareas-lista .tarea a{
	color: #006175;
	font-size: 11px;
	text-decoration: underline;
}
.siom-tareas-lista .id_relacionado{
    color: #006175;
    font-size: 11px;
    font-weight: lighter;
    padding-right: 5px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.siom-tareas-lista .emplazamiento{
    color: #006175;
    font-size: 11px;
    margin-left: 10px;
    font-weight: bold;
}
.siom-tareas-lista .direccion{
    color: #666;
    font-size: 9px;
    margin-left: 10px;
    font-style: italic;
}
.siom-tareas-lista .fecha{
    color: #006147;
    font-size: 9px;
    font-weight: lighter;
    padding-right: 5px;
}


/*_______________________________
Notificaciones */
.siom-pnotify .ui-pnotify-title{
    font-size: 12px;
    padding-top: 2px;
}
.siom-pnotify .ui-pnotify-title hr{
	margin-top: 1px;
	margin-bottom: 1px;
}
.siom-pnotify .ui-pnotify-text .emplazamiento{
    font-size: 12px;

    font-weight: bold;
    padding-top: 3px;
}
.siom-pnotify .ui-pnotify-text .direccion{
    font-size: 9px;

}
.siom-pnotify .ui-pnotify-text .fecha{
    font-size: 10px;

    text-align: right;
}


.ctrl-camera li{
	display: inline-block;
	width: 48%;
    margin: 0;
    padding: 0;
    vertical-align: top;
	margin-right: 5px;
	margin-bottom: 5px;
}
.ctrl-camera table.ctrl-camera-photo{
	margin-top: 0px;
}
.ctrl-camera .ctrl-camera-photo .preview{
    width: 190px;
    height: 190px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    padding-right: 2px;   
}
.ctrl-camera .ctrl-camera-photo .description{

}
.ctrl-camera .ctrl-camera-photo .description textarea{
    height: 22px;
	
    margin-top: 4px;
}
.ctrl-camera .ctrl-camera-photo .filename{
    font-size: 8px;   
    color: #666;
    padding-top: 1px;
}
.ctrl-camera .ctrl-camera-photo .remove{
    border: none;
    height: 18px;
    width: 18px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 14px;
}

.ctrl-aggregator-item-photo li{
	display: inline-block;
	width: 48%;
    margin: 0;
    padding: 0;
    vertical-align: top;
	margin-right: 5px;
	margin-bottom: 5px;
}
.ctrl-aggregator-item-photo table.photos{
	margin-top: 0px;
}
.ctrl-aggregator-item-photo .photos .preview{
    width: 175px;
    height: 175px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    padding-right: 2px;   
}
.ctrl-aggregator-item-photo .photos .description{
	font-size: 10px;   
}
.ctrl-aggregator-item-photo .photos .filename{
    font-size: 8px;   
    color: #666;
    padding-top: 1px;
}
.ctrl-aggregator-item-photo .photos .file{
    display: none;
}


.table-tiny{
	font-size: 10px;
}
.table-filters td{
	padding:2px;
}

/*_______________________________
 Re formatear datepicker */
.datepicker{
	font-size: 10px;
	z-index:1151 !important;
}
.datepicker td{
	padding: 2px;
}

/* Desactivado de items */
.dropdown-menu > .disabled{
 cursor: not-allowed; 
}
.dropdown-menu > .disabled > a{
 pointer-events: none;
}


/*_______________________________
edicion de formularios */
.form-edicion-container{
    margin-top: 10px;
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
}
.form-edicion-container .header{
	margin-bottom: 20px;
}

.form-edicion-container .title{
    font-size: 14px;	
    border: none;
    padding-left: 20px;
    font-weight: bold;
    color: #006175;
}
.form-edicion-container .menu{
	height: 20px;
}
.form-edicion-container .nav>li>a{
	padding: 3px;
	margin-bottom: 5px;
	font-size: 11px;
}
.form-edicion-container li.dropdown.open {
	background-color: transparent;
}
.form-edicion-container .dropdown-menu>li>a{
	font-size: 11px;
}
.form-edicion-container .popover{
    max-width: 320px;
    margin-left: 15px;
    width: 320px;
}
.form-edicion-container .control-label{
	font-size: 13px;
    color: #31708f;
}
.form-edicion-container .active{
	font-weight: bold;
}
.form-edicion-container .noactive{
	opacity:0.5;
}

.form-edicion-container-page{
	margin:5px;
	margin-bottom: 20px;
}

.form-edicion-container-control{
	margin: 1px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: 1px dashed #CDCDCD;
	clear: both;
}

.form-edicion-container-control:hover{
	background-color: rgb(236, 236, 236);
}

.form-edicion-container-control .menu{
	margin-top: 25px;
}
.form-edicion-container-control .menu-btn-control{
	margin-top: 15px;
}
.form-edicion-container-control .btn-control{
	margin-top: 10px;
}

.form-edicion-container-control-aggregator{
    margin-top: 5px;
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}

.form-edicion-container-properties{
	margin:3px;
}
.form-edicion-container-properties .control-label{
	font-size: 10px;
    color: #31708f;
}
.form-edicion-container-properties input{
	font-size: 12px;
	height: 22px;
    padding-left: 3px;
}
.form-edicion-container-properties select{
	font-size: 12px;
	height: 22px;
	padding-left: 3px;
}
.form-edicion-container-properties .form-group{
	margin-bottom: 2px;
}

.form-edicion-container-properties hr {
    margin-top: 4px;
    margin-bottom: 5px;
    border-top: 1px solid #CCC;
}
.form-edicion-container-properties .help-block{
	font-size: 9px;
    margin-top: 1px;
    margin-bottom: 0px;
}

.form-edicion-actions{
	margin-top: 25px;
	margin-bottom: 40px;
}


/*Tracking */
#tracking { 
	position: relative;
}
#tracking-map { 
	background-color: #FFFFFF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#tracking-legend {
	position: absolute; 
	bottom: 30px; 
	left: 10px; 
	z-index: 99;;
	border: 1px solid #CCC;
	background-color: #FFFFFF;
	width:200px;
	border-radius: 2px;
	padding:5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#tracking-legend .tracking-item{
	min-height: 25px;
    width: 100%;
    border-bottom: 1px dotted #EEE;
}
#tracking-legend .tracking-circle {
	float:left;
	border-radius: 50%;
	width: 16px;
	height: 16px; 
	margin:2px;
}
#tracking-legend .tracking-name {
	float:left;
	margin-left: 5px;
}
#tracking-legend .tracking-time {
	float:left;
	margin-left: 5px;
}

#tracking-legend .tracking-action-time{
	float:right;
	width:20px;
	cursor: pointer;
	color:#DDD;
}
#tracking-legend .tracking-action-view{
	float:right;
	width:20px;
	cursor: pointer;
	color:#DDD;
}
#tracking-legend .active{
	color:#000;
}

.tracking-marker .tracking-name {
	font-weight: bold;
}
.tracking-marker .tracking-time {
	font-size: 10px;
}
.tracking-nodata{
	text-align: center;
	margin: auto;
	padding-top: 150px;
}


/* INDISPONIBILIDAD */

.siom-indi-lista .indi{
    min-height: 45px;
}
.siom-indi-lista .indi:hover{
	background-color: #F3F3F3;
}
.siom-indi-lista .indi .estado{
    float: left;
    width: 90px;
}
.siom-indi-lista .indi .estado .id{
	font-size: 12px;
	display: block;
}
.siom-indi-lista .indi .estado .status{
	font-size: 9px;
	white-space: normal;
	display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.5em;
}
.siom-indi-lista .indi .info{
    width: auto;
    margin-left: 90px;
    margin-right: 20%;
}
.siom-indi-lista .indi .acciones{
    float: right;
    width: 20%;
}
.siom-indi-lista .indi .info_os{
    font-size: 12px;
}
.siom-indi-lista .indi .info_adicional{
    font-size: 9px;
    color: gray;
}
.siom-indi-lista .indi .acciones .dropdown{
    margin-top: -9px;
}
.siom-indi-lista .indi .acciones .detalle{
    font-size: 9px;
    margin-top: -5px;
    color: gray; text-decoration: underline;
}
.siom-indi-lista .indi .acciones .mas_opciones{
    font-size: 9px; 
    margin-top: -5px;
    text-decoration: underline;
    color: gray;
}
.siom-indi-lista .indi .acciones .fecha{
    font-size: 10px;
    margin-top: 3px;
    font-style: italic;
    font-weight: 600;
    color: #333;
}

.siom-indi-lista .indi .acciones .solicitando{
	color:#009900;
}

.siom-indi-lista .indi .sin-tarea{
	color:#009900;
	font-size: 10px;
	margin-top: 5px;
}
.siom-indi-lista .indi .esperando-tarea{
	color: #009900;
	font-size: 10px;
	font-weight: bold;
	margin-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.siom-indi-lista h4{
	margin-top: 5px;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: bold;
}
.siom-indi-lista hr{
	margin-top: 5px;
	margin-bottom: 5px;
	border-color: #CCC;
}
.siom-indi-lista .indi-crear{
    min-height: 30px;
}
.siom-indi-lista .indi-crear:hover{
	background-color: #F3F3F3;
}
.siom-indi-lista .indi-crear .estado{
    float: left;
    width: 25px;
}
.siom-indi-lista .indi-crear .estado .status{
	font-size: 15px;
	color: green;
}
.siom-indi-lista .indi-crear .estado .status-success{
	color: green;
}
.siom-indi-lista .indi-crear .estado .status-warning{
	color: yellow;
}
.siom-indi-lista .indi-crear .estado .status-danger{
	color: red;
}
.siom-indi-lista .indi-crear .info{
    width: auto;
    margin-left: 30px;
    margin-right: 150px;
}
.siom-indi-lista .indi-crear .info .info_adicional{
    font-size: 9px;

    color: gray;
}
.siom-indi-lista .indi-crear .acciones{
    float: right;
    width: 145px;
}

/*____________________________________*/
/* CODIGO QR*/
.siom-qr-lista{
	/* display:block; */
	height: 100%;
	padding: 5px;
	overflow-y: auto; 
}
.siom-qr-lista .btn{
    margin-top: 2px;
}
.siom-qr-lista .dropdown-toggle{
	margin-left: 5px;
}
.siom-qr-lista .dropdown-menu{
	margin-left: -60px;	
}
.siom-qr-lista .qr{
    min-height: 45px;
}
.siom-qr-lista .qr:hover{
	background-color: #F3F3F3;
}
.siom-qr-lista .qr .estado{
    float: left;
    width: 90px;
}
.siom-qr-lista .qr .estado .id{
	font-size: 12px;
	display: block;
}
.siom-qr-lista .qr .estado .status{
	font-size: 9px;
	white-space: normal;
	display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.5em;
}
.siom-qr-lista .qr .info{
    width: auto;
    margin-left: 90px;
    margin-right: 20%;
}
.siom-qr-lista .qr .acciones{
    float: right;
    width: 20%;
}
.siom-qr-lista .qr .info_qr{
    font-size: 12px;
}
.siom-qr-lista .qr .info_adicional{
    font-size: 9px;
    color: gray;
}
.siom-qr-lista .qr .acciones .dropdown{
    margin-top: -9px;
}
.siom-qr-lista .qr .acciones .detalle{
    font-size: 9px;
    margin-top: -5px;
    color: gray; text-decoration: underline;
}
.siom-qr-lista .qr .acciones .mas_opciones{
    font-size: 9px; 
    margin-top: -5px;
    text-decoration: underline;
    color: gray;
}
.siom-qr-lista .qr .acciones .fecha{
    font-size: 10px;
    margin-top: 3px;
    font-style: italic;
    font-weight: 600;
    color: #333;
}

.siom-qr-lista .qr .acciones .solicitando{
	color:#009900;
}

.siom-qr-lista .qr .sin-tarea{
	color:#009900;
	font-size: 10px;
	margin-top: 5px;
}
.siom-qr-lista .qr .esperando-tarea{
	color: #009900;
	font-size: 10px;
	font-weight: bold;
	margin-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.siom-qr-lista h4{
	margin-top: 5px;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: bold;
}
.siom-qr-lista hr{
	margin-top: 5px;
	margin-bottom: 5px;
	border-color: #CCC;
}
.siom-qr-lista .qr-crear{
    min-height: 30px;
}
.siom-qr-lista .qr-crear:hover{
	background-color: #F3F3F3;
}
.siom-qr-lista .qr-crear .estado{
    float: left;
    width: 25px;
}
.siom-qr-lista .qr-crear .estado .status{
	font-size: 15px;
	color: green;
}
.siom-qr-lista .qr-crear .estado .status-success{
	color: green;
}
.siom-qr-lista .qr-crear .estado .status-warning{
	color: yellow;
}
.siom-qr-lista .qr-crear .estado .status-danger{
	color: red;
}
.siom-qr-lista .qr-crear .info{
    width: auto;
    margin-left: 30px;
    margin-right: 150px;
}
.siom-qr-lista .qr-crear .info .info_adicional{
    font-size: 9px;

    color: gray;
}
.siom-qr-lista .qr-crear .acciones{
    float: right;
    width: 145px;
}


/*DENUNCIA DE FALLA*/

.siom-defaMovil-lista{
	/* display:block; */
	height: 100%;
	padding: 5px;
	overflow-y: auto; 
}
.siom-defaMovil-lista .btn{
    margin-top: 2px;
}
.siom-defaMovil-lista .dropdown-toggle{
	margin-left: 5px;
}
.siom-defaMovil-lista .dropdown-menu{
	margin-left: -60px;	
}
.siom-defaMovil-lista .defaMovil{
    min-height: 45px;
}
.siom-defaMovil-lista .defaMovil:hover{
	background-color: #F3F3F3;
}
.siom-defaMovil-lista .defaMovil .estado{
    float: left;
    width: 90px;
}
.siom-defaMovil-lista .defaMovil .estado .id{
	font-size: 12px;
	display: block;
}
.siom-defaMovil-lista .defaMovil .estado .status{
	font-size: 9px;
	white-space: normal;
	display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.5em;
}
.siom-defaMovil-lista .defaMovil .info{
    width: auto;
    margin-left: 90px;
    margin-right: 20%;
}
.siom-defaMovil-lista .defaMovil .acciones{
    float: right;
    width: 20%;
}
.siom-defaMovil-lista .defaMovil .info_defaMovil{
    font-size: 12px;
}
.siom-defaMovil-lista .defaMovil .info_adicional{
    font-size: 9px;
    color: gray;
}
.siom-defaMovil-lista .defaMovil .acciones .dropdown{
    margin-top: -9px;
}
.siom-defaMovil-lista .defaMovil .acciones .detalle{
    font-size: 9px;
    margin-top: -5px;
    color: gray; text-decoration: underline;
}
.siom-defaMovil-lista .defaMovil .acciones .mas_opciones{
    font-size: 9px; 
    margin-top: -5px;
    text-decoration: underline;
    color: gray;
}
.siom-defaMovil-lista .defaMovil .acciones .fecha{
    font-size: 10px;
    margin-top: 3px;
    font-style: italic;
    font-weight: 600;
    color: #333;
}

.siom-defaMovil-lista .defaMovil .acciones .solicitando{
	color:#009900;
}

.siom-defaMovil-lista .defaMovil .sin-tarea{
	color:#009900;
	font-size: 10px;
	margin-top: 5px;
}
.siom-defaMovil-lista .defaMovil .esperando-tarea{
	color: #009900;
	font-size: 10px;
	font-weight: bold;
	margin-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.siom-defaMovil-lista h4{
	margin-top: 5px;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: bold;
}
.siom-defaMovil-lista hr{
	margin-top: 5px;
	margin-bottom: 5px;
	border-color: #CCC;
}
.siom-defaMovil-lista .defaMovil-crear{
    min-height: 30px;
}
.siom-defaMovil-lista .defaMovil-crear:hover{
	background-color: #F3F3F3;
}
.siom-defaMovil-lista .defaMovil-crear .estado{
    float: left;
    width: 25px;
}
.siom-defaMovil-lista .defaMovil-crear .estado .status{
	font-size: 15px;
	color: green;
}
.siom-defaMovil-lista .defaMovil-crear .estado .status-success{
	color: green;
}
.siom-defaMovil-lista .defaMovil-crear .estado .status-warning{
	color: yellow;
}
.siom-defaMovil-lista .defaMovil-crear .estado .status-danger{
	color: red;
}
.siom-defaMovil-lista .defaMovil-crear .info{
    width: auto;
    margin-left: 30px;
    margin-right: 150px;
}
.siom-defaMovil-lista .defaMovil-crear .info .info_adicional{
    font-size: 9px;

    color: gray;
}
.siom-defaMovil-lista .defaMovil-crear .acciones{
    float: right;
    width: 145px;
}
