html,body,#main {
    font-family:Helvetica, sans-serif;
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;
}

header {
    height: 60px;
    position:relative;
    z-index:1;
}

header .navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    padding-bottom: 2px;
}
header .navbar-inverse {
    background-color: #006175;
    border-color: #006687; 
    background: -webkit-linear-gradient(left, #3091A5 , #006175); /* For Safari 5.1 to 6.0 */   
    background: -o-linear-gradient(right, #3091A5 , #006175); /* For Opera 11.1 to 12.0 */   
    background: -moz-linear-gradient(right, #3091A5 , #006175); /* For Firefox 3.6 to 15 */   
    background: linear-gradient(to right, #2E7C8C , #006175); /* Standard syntax */;
}
header .navbar-inverse .navbar-nav > li > a{
    color:#FFF;
}
header .navbar-logo {
    height: 20px;
    width: auto;
    margin-top: 3px;
    margin-left: 12px;
    float:left;
}
header .navbar-logo-sub {
    float: left;
    color: #DAE0E7;
    margin-left: 7px;
    padding-top: 15px;
    font-size: 8px;
    text-transform: uppercase;
    display: none;
}
header .navbar-icons{
    margin-right: 10px;
    margin-top: 3px;
}
header .navbar-icons > li > a{
    padding-top: 2px;
    padding-bottom: 0px;
}
header .navbar-icons .fa{
    font-size: 18px;
}
header .navbar-icons .fa-user:hover,
header .navbar-icons .fa-home:hover,
header .navbar-icons .fa-question-circle:hover,
header .navbar-icons .fa-bell:hover,
header .navbar-icons .fa-power-off:hover {
    color: #00b1ff;
}

header .content-menu {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    /* -webkit-box-shadow: 0px 3px 11px 0px rgba(50, 50, 50, 0.33); */
    -moz-box-shadow: 0px 3px 11px 0px rgba(50, 50, 50, 0.33);
    box-shadow: 0px 1px 5px  rgba(204, 204, 204, 0.57);
    border-bottom: 1px solid #CCCCCC;
    height: 30px;
}
header .content-menu .form-contrato{
    padding: 2px;
}
header .content-menu .form-contrato label{
    font-weight: normal;
    color: #006687;
    font-size: 12px;
    padding-top: 5px;
}
header .content-menu .form-contrato select{
    height: 20px;
    margin-top: 2px;
    padding: 0px;
}
header .content-menu .menu{
    margin-right: 10px;
}
header .content-menu .menu > li > a{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #006687;
    font-size: 12px;
}
header .content-menu .menu > li > ul > li > a{
    padding-top: 5px;
    padding-bottom: 5px;
    /* color: #006687; */
    font-size: 12px;
}
header .content-menu .menu .active{
    background-color: #EEE;
    
    font-weight: bold;
    text-shadow: 0px 0px 15px #FFFFFF;
    border: 1px solid #CCCCCC;
}

header span.siom-user{
    font-size: 10px;
    
    font-weight: bold;
    margin-top: 9px;
    display: inline-block;
    color: #E9E9EA;
}

header .siom-tareas-desconectado{
    opacity: 0.3;
}

.main-container {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: -90px;
    position:relative;
/*    overflow-y: auto;*/
    overflow-y: hidden;
    overflow-x: hidden;
}

.main-content {
    position:absolute;
/*    overflow-y: auto;*/
    overflow-y: hidden;
    overflow-x: hidden;
    top: 0px;
    bottom: 90px;
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 5px;
}
.main-content .main-loading{
    margin:150px;
    text-align:center;
}

footer {
    position: relative;
    height: 30px;
    min-height: 30px;
    padding: 5px;
    background-color: #333;
    color: white;
}
footer .footer-logo {
    float: left;
    max-height: 18px;
    width: auto;
    margin-top: 1px;
}
footer .footer-logo-sub {
    float: left;
    color: white;
    margin-left: 10px;
    padding-top: 4px; 
    font-size: 10px;
}

footer .footer-version{
    font-size: 10px;
    margin-top: 4px;
    color: #ccc;
}

