@page {
  margin-top: 1.5cm;
  margin-bottom: 1.5cm;
  margin-left: 2cm;
  margin-right: 2cm;
}

body{
	font-family: Helvetica, sans-serif;
	font-size: 10px;
	margin-top: 70px;
  	margin-bottom: 50px;
}

/*page  */
#header,
#footer {
  position: fixed;
  left: 0;
  right: 0;
}
#header {
  top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}
#header h1,
#header h2{
  margin:0px;
}

#footer {
  bottom: 20px;
  border-top:  1px solid #CCC;
  font-size: 10px;
  color:#666;
}
#header table,
#footer table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
#footer table{
	padding-top: 5px;
}
#header td,
#footer td {
  padding: 0px;
  margin:0px;
}
.page-number:before {
  content: counter(page);
}

/*datos  */
.siom-title{
	font-size: 18px;
	font-weight: bold;
    color: #006175;	
    padding-top: 10px;
}
.siom-legend{
	font-size: 8px;
	color: #006175;
}
.siom-title-number{
	font-size: 14px;
    color: #006175;	
}
.siom-title-date{
	font-size: 12px;
    color: #006175;	
}
.siom-fieldset{
    margin-top: 10px;
    border: 1px solid #EFEFEF;
    padding: 5px;
    border-radius: 5px;
}
.siom-fieldset legend{
    font-size: 12px;	
    border: none;
    width: auto;
    margin-left: 3px;
    font-weight: bold;
    color: #006175;
}
.siom-fieldset table:first-child{
	margin-top: 12px;
}

.siom-fieldset tr{
	margin-bottom: 8px;
}
.siom-fieldset .siom-label{
    font-weight: lighter;
    font-size: 7px;
    text-align: left;
    color:#888;
}
.siom-fieldset .siom-value{
    font-size: 10px;
}
.siom-fieldset .siom-subtitle{
	font-size: 10px;	
    font-weight: bold;
    color: #006175;
    border-top: 1px solid #EFEFEF;
	margin-top: 15px;
	padding-top: 5px;
	margin-bottom: 5px;
	margin-left: 25px;
}
.siom-fieldset .siom-subtitle2{
  font-size: 10px;  
  color: #006175;
  border-top: 1px solid #EFEFEF;
  margin-top: 15px;
  margin-bottom: 10px;
}
.siom-form{
	page-break-inside: auto;
	margin: 25px;
}

.siom-form .siom-label{
    font-size: 10px;
    color:#666;
    border-bottom:1px dotted #DDD;
  	text-align:left;
  	width:200px;
  	display: inline-block;
  	margin-bottom: 10px;
}
.siom-form .siom-value{
    font-size: 12px;
    text-align:left;
 	  width:380px;
  	display: inline-block;
  	margin-bottom: 10px;
}
.siom-form .siom-image{
	margin-left: 50px;
	font-size: 9px;
	margin-bottom: 10px;
	text-align: center;
}
.siom-form .siom-location{
	margin-left: 50px;
	margin-bottom: 15px;
	text-align: center;
}
.siom-form .siom-separator-aggregator{
  border-bottom:1px solid #EEE;
  margin-bottom: 20px;
}


